<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>My Story</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<link href="{% static 'css/new.css' %}" rel="stylesheet">

		<script src="{% static 'js/jquery.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
		<!-- <script src="{% static 'js/logic.js' %}"></script> -->
	</head>
	{% include "layout/navbar.html" %}


	<body class="bg-grey">
		<div class="container-fluid bg-white section-container rounded" id="bukutamu">
			<div class="row">
				<div class="col-md-4 left">
					<h1 style="color:white">Registrasi</h1>
				</div>
				<div class="col-md-8 right">
					<div id="message-container" class="container-fluid">
					{% if user.is_authenticated %}s
					</div>
						<form class="posting" method="POST" action={% url 'status_add' %}>
								{% csrf_token %}
								{{ form }}
								<h1><h1></h1>
								<button type="submit" class="btn" name="post_button">Let me post something</button>
								<br><br>
							</form>
							<form method="POST">
								<button type="submit" class="btn">I want to delete oll</button>
							</form>
				</div>
				{% endif %}
			</div>
		</div>

		<div class="container-fluid bg-white section-container rounded" id="about">
			<div class="row">
				<div class="col-md-4 left">
					<h1 style="color:white" >Useru</h1>
				</div>
				{% for e in status %}
						<div class="card">
							<div class="card-header">
								<h5 class="card-title">{{e.Nama}}</h5>
								<p class="card-text">{{e.Waktu|date:"j F Y H:i a"}}</p>
							</div>	
				  			<div class="card-body">
				    			<p class="card-text" id="my_status">{{e.Kabar}}</p>
				  			</div>
						</div>
						<br>
					{% endfor %}
			</div>
		</div>
		{% include "layout/footer.html" %}
		
	</body>
	<script type="text/javascript">
		// using jQuery
		var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
	</script>
</html>