{% load static %}
<hmtl>
	<head>
		<!-- bootstrap using cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<!-- responsive for mobile -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- jquery -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<!-- internal css -->
		<style>
			#mid_title {
				text-align: center;
			}
			#table_body, #table_head {
				text-align: center;
			}
			.card {
				margin-top: 50px;
			}
			.fake_body {
				padding-top: 100px;
			}
		</style>
	</head>
	<body>
	{% include "layout/navbar.html" %}
		<div class="fake_body container">
			{% if user.is_authenticated %}
			<h1 class="mx-auto text-dark"> Halo {{user.first_name}}, ini adalah program yang telah anda donasikan </h1>
			{% endif %}
			<!-- <h1>test</h1> -->
			<div class="card bg-light text-dark shadow p-4 mb-4 bg-white">
				<div class="card-body">
					<table class="table table-striped table-responsive-md">
						<thead id="table_head">
							<tr>
								<th>No</th>
								<th>Program</th>
								<th>Jumlah Donasi</th>
							</tr>	
						</thead>
						<tbody id="table_body">
						</tbody>
					</table>
				</div>
			</div>
		</div>
	{% include "layout/footer.html"%}
	</body>

	<!--  ============== azhar's code ================== -->
	<script>
		$(document).ready(function() {
		 console.log('sukses_awal')
		 var $my_donation = $('#table_body');
		 $.ajax({ 
		  type: 'GET',
		  url: '/crowd/data_dict',
		  success: function(data) {
		   console.log('jalan ngga?')
		   $.each(data, function(key, value) {
			$my_donation.append('<tr><td>'+ (key+1) +'</td><td>'+ value.fields.user_program +'</td><td>'+ value.fields.user_money +'</td></tr>')
		   });
		  },
		  error: function() {
		   alert("error get donation data!")
		  }
		 });
		});
	   </script>
	   <!--  ============== azhar's code ================== -->
</hmtl>