{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>FUNDEE</title>
  <link rel="stylesheet" type="text/css" href="{%static 'stylesheet.css' %}"/>
  <link rel="stylesheet" href="{% static 'cssregis.css' %}" type="text/css">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    {% include "layout/navbar.html" %}
    <div class="container-fluid">
      <div class="row">
          <div class="col-sm-12" id="first">
              <h1 class="text-center"><b>START DONATING!</b></h1>
              <h4 class="text-center">"Giving is better than receiving because giving starts the receiving process."<br>
                  - Jim Rohn</h4>
          </div>
      </div>
      <div class="row" style="margin-top: 3%; display: flex;">
          <div class="col-md-4"></div>
          <div class="col-md-4">
                  <div class="col-sm-12 align-self-center" id="out">
                      <div class="col-sm-12 align-self-center" id="in">
                          <a href="{% url 'social:begin' 'google-oauth2' %}"
                             style="text-transform:none; font-weight: bold; display: inline-flex;">
                              <div class="left">
                                  <img width="20px" alt="Google &quot;G&quot; Logo" id='google'
                                       src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                              </div>
                              Login with Google
                          </a>
                          <br>
                      </div>
                  </div>
          </div>
          <div class="col-md-4"></div>
      </div>
  
  </div>

    <br><br><br><br><br>
    {% include "layout/footer.html" %}
</body>
</html>